.home-hero-container {
    background-size: cover;
    margin: 20px 15% 0px 15%;
    background-position: center;
    position: relative;
}

.home-hero-trans-image-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.hero-trans-image {
    width: 50%;
    height: 100%;
    display: block;
    margin: auto;
}

.home-hero-title {
    position: absolute;
    bottom: 0;
    left: 4%;
    padding: 20px;
}

.get-started-button {
    margin-top: 25px;
    border-radius: 25px;
    padding: 15px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 18px;
    background-color: #E8843C;
    color: #FFF;
    margin-right: 20px;
    cursor: pointer;
}

.add-row-button {
    margin-top: 25px;
    border-radius: 25px;
    padding: 5px;
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 14px;
    border: 1px solid #4D515A;
    margin-right: 20px;
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.wizard-icon-circle {
    border-color: #4D515A;
}

.home-hero-subtext {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 18px;
    color: #4D515A;
    margin-right: 20px;
    animation: slideInFromLeft 0.5s ease-out;
}

.form-control {
    width:100%;
    margin-top: 5px;
    padding: 10px 0.75rem;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.event-center {
    margin: auto 10px auto 10px;
    padding: 10px;
    border: 1px solid #4D515A ;
}

.event-icon {
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
}

.event-heading {
    font-family: 'Aleo';
    font-weight: bold;
    font-size: 32px;
    color: #4D515A;
    margin-bottom: 15px;
}

.event-title {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 18px;
    color: #4D515A;
    margin-top: 10px;
}

.event-input {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 18px;
    color: #4D515A;
    margin-top: 5px;
}

.event-desc {
    font-family: 'Ubuntu';
    font-weight: lighter;
    font-size: 14px;
    color: #909297;
    margin-top: 5px;
}

.event-wizard-content {
    width: 100%;
    text-align: left;
}

.input-area-height {
    height: 30px;
}

.flex-containers {
    display: flex;
    justify-content: space-between;
}

.radio-buttons {
    width: 25px;
    height: 25px;
    accent-color: #E8843C;
    padding: 10px 0.75rem;
    font-size: 17px;
    margin-right: 10px;
}

.full-width {
    width: 100%;
}

.home-hero-text {
    font-family: 'Ubuntu';
    font-weight: bolder;
    font-size: 64px;
    color: #4D515A;
    margin: 0;
    animation: slideInFromLeft 0.5s ease-out;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 890px) {
    .home-hero-container {
        height: auto;
    }

    .home-hero-trans-image-wrapper {
        width: 100%;
    }

    .hero-trans-image {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .home-hero-title {
        left: 2%;
        padding: 10px;
        font-size: 70%;
    }

    .home-hero-subtext {
        font-size: 16px;
    }

    .home-hero-text {
        font-size: 54px;
    }
}
