.messageTohost{
   
}

.yesButton {
    width: 50%;
    height: 40px;

    color: black;
    padding: 10px 20px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.noButton {
    width: 50%;
    height: 40px;

    color: black;
    padding: 10px 20px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.maybeButton {
    width: 50%;
    height: 40px;

    color: black;
    padding: 10px 20px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.rsvpSubmitButton {
    width: 25%;
    height: 40px;

    color: black;
    padding: 10px 20px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}